[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
pylint = "==1.8.*"
pytest = "==4.*"
pytest-runner = "==4.2"
pytest-cov = "==2.*"
pytest-pylint = "==0.*"
conda = "==4.6.*"
conda-build = "==3.17.*"
conda-verify = "==3.*"
pipenv = "*"
"e1839a8" = {path = ".", editable = true}

[requires]
python_version = "2.7"
